[mysqld]
server-id=2
bind-address=0.0.0.0

log_bin=mysql-bin
binlog_do_db=replicacion
relay-log=mysql-relay-bin

gtid_mode=ON
enforce_gtid_consistency=ON
read_only=1

log_replica_updates=ON
replicate-ignore-db=mysql

# SSL config
ssl-ca=/etc/mysql/certs/ca.pem
ssl-cert=/etc/mysql/certs/client-cert.pem
ssl-key=/etc/mysql/certs/client-key.pem
